/*--------------------------------------------------
                    COLORS
----------------------------------------------------
Russet #80471C - brown
Asparagus #7EA16B - light green
Dark Slate Grey #384D48 - dark green
Pale Cerulean #8FBFE0 - light blue
Bdazzled Blue #3B5C7D - dark blue
Cultured #EDF2F4 - dirty white ish
*/


/*--------------------------------------------------
                 SECTION CONTAINERS
--------------------------------------------------*/
.market-details-container {
    margin-left: 5%;
}

.add-icon-container{
    position: center;
}

.image-icon{
    display: inline;
}

/*--------------------------------------------------
            SECTION HEADERS AND LABELS
--------------------------------------------------*/
.h5-header{
    color: #80471C;
    
}

.header-title{
    color: #80471C;
    margin-top: 28px;
}

.label{
    width: 90%;
}

.market-header, .address-header {
    margin-top: 5%;
    margin-left: 5%;
}

/*--------------------------------------------------
                 INPUT BOX
--------------- -----------------------------------*/
.title, .title-desc, .location, .house-street {
    margin-top: 0;
    margin-bottom: 5%;
}

.input-field{
        width: 90%;
        border-radius: 5px;
}

/*--------------------------------------------------
                  DROPDOWN
--------------------------------------------------*/
.category {
    display: block;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 5%;
    overflow: hidden;
    font-size: 13px;
    padding-right: 2px;
}

/*--------------------------------------------------
                    ICONS
--------------------------------------------------*/

.fa{
    margin-left: 5%;
    color: #80471C;
}

.add-img-icon{
    height: 89px;
    width: 89px;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.5px solid rgb(186 186 186);
    padding: 25px;
    margin: auto;
    display: block;
}

.edit-icon {
    height: 30px;
    width: 30px;
    color: #80471C;
    float: right;
    display: inline;
    border-radius: 50%;
    margin-right: 25%;
    margin-left: 0px;
}

.edit-img-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.5px solid rgb(186 186 186);
    padding: 8px;
    margin-left: 35%;
    display: block;
}

/*--------------------------------------------------
                    BUTTONS
--------------------------------------------------*/

.add-market{
    float: right;
    margin-top: 5%;
}

/*--------------------------------------------------
                 Upload Image 
--------------------------------------------------*/
/* .add-image-card{ 
    margin-top: 5px; 
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 190px; 
    text-align: center;
}


.upload-img {
    margin: auto;
    margin-top: 4px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.5px solid rgb(186 186 186);
    padding: 6px;
    display: inline-block;
}


a:hover{
  color: #f8ab71;
}


@media(max-width:2700px) { 
    .add-img-card{  
        max-width: 100%;
        flex:100%;
        margin: 5px;
        padding: 10px;
        height:180px;    
        text-align: center;
    }
}  */

