
    .navbar{
      /* background-color: #8FBFE0; */
    }
    
    .buyer-home{
      /* background-color: #8FBFE0; */
    }
    
    a:hover{
      color: #f8ab71;
    }

    #region option {
      width:150px;  
      overflow: hidden;
      overflow-x: hidden;
    }
    
    .icon {
      padding: 10px;
      min-width: 40px; 

      border-top-color: rgb(186, 186, 186);
      border-top-style: solid;
      border-top-width: 0.5px;

      border-left-color: rgb(186, 186, 186);
      border-left-style: solid;
      border-left-width: 0.5px;

      border-bottom-color: rgb(186, 186, 186);
      border-bottom-style: solid;
      border-bottom-width: 0.5px;
    }
      

    .fa-search {
        margin-right:0px;
    }


    .ux_btn{
        font-size: 14px;
        width: 25%;
        display: grid;
        text-align: center; 
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .header{  
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .search_input{
        height:25px;
        height: 25px;
        width: 90%;
        border: none;
    }
    .div_title_origin{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;  
    }

    .ux_btn{ 
        position: relative;
        flex: 1;
        height: 60px;
        margin: 5px;
        border-radius: 5px;
        align-content: center;
        max-width: 25%;
        flex: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
        overflow: hidden;
    }

    .card-02{
        background-color: #ddd;
        position: relative;
        flex-wrap: wrap;
        flex: 1;
        height: 60px;
        margin: 5px;
        border-radius: 5px;
        align-content: center;
    }

    .card-price{
        /* background-color: #ddd; */
        position: relative;
        flex-wrap: wrap;
        flex: 1;
        height: 80px; 
        border-radius: 5px; 
    }
 
    @media(max-width:2700px) { 
      .ux_btn{   
        max-width: 25%;
        flex: 20%;
        height: auto;
        padding: 10px;
        text-align: center; 
        /* border: 0.5px solid rgb(186 186 186);  */
        color: rgb(128 128 128);
        /* background-color: #3b5c7d; */
      }
      .card-02{  
          max-width: 100%;
          flex:100%;
          margin: 5px;
          padding: 2px;
          height:180px;    
          text-align: center;
          background-color: #fff;
          
      }
    } 
 
    .cc{ 
      margin-top: 5px;
      display: flex;
      height: 190px;
      width: 44%;
      height: auto;
      overflow: hidden;
      margin: 5px;
      padding: 0px;
      text-align: center;
      background-color: #fff;
      border-radius: 15px;
      border: 0.5px solid rgb(186 186 186);
    }


    img {
      height: 89px;
      width: 89px;
      border-radius: 50%;
      vertical-align: middle;
      border: 0.5px solid rgb(186 186 186);
      padding: 6px;
    }

    .add-item-column {
      font-size: 14px; 
      margin-top: 20px;
      text-align: center;
      width: 100%;
    }

    .add-symbol {
      height: 79px;
      width: 79px;
      border-radius: 70%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 0;
    }

    .protitle-add{
      float: left;
      margin-bottom: 0px;
      font-size: 12px;
    }
  
    .price-add{
      width: 100%;
      font-weight: bold;
      text-align: center;
    }

      .price{
        font-size: 14px; 
        margin-left: 6px;
        text-align: start;
        width: 100%;
        font-weight: bold;
      }

      .protitle{
        float: left;
        margin-left: 6px;
        margin-bottom: 0px;
        font-size: 12px;
        width: 100%;
        margin-top: 2px;
        text-align: start;
      }

      .div_circle_heart{
        float: left;
        margin-left: 6px;
        margin-bottom: 5px;
        font-size: 12px;
        width: 100%;
        text-align: start;
      }

      .plus_icon{
        padding: 4px;
        margin-right: 5px;
        float: right;
        border-radius: 50%;
        vertical-align: middle;
        background-color: black;
      }

      .heart_icon{
        padding: 4px;
        margin-right: 5px;
        float: right;
        border-radius: 50%;
        vertical-align: middle;   
        color:gray;
      }

      .circle_icon{ 
        float: left;
        border-radius: 50%;
        vertical-align: middle;
        background-color: black; 

      }

      .fa-plus{
        color:white; 
        padding: 3px; 
      }

      .fa-circle{
        color:white; 
      } 

      .fa-heart{ 
        padding: 3px; 
      } 

      .fa-search{
        margin: 0px;
        float: right;
        margin-right: 45px;
      }

      .myselect{ 
        width: 100%;
        font-size: 12px;
      }

      .myTable{
        font-size: 12px;
      }



      /* start of buyer-search-product UI */

      @media(max-width:2700px) {  

        .ux_btn_search{   
          max-width: 25%;
          flex: 20%;
          height: auto;
          padding: 2px;
          margin: 4px;
          text-align: center; 
          border-radius: 15px;
          color: rgb(128 128 128);
          /* background-color: #3b5c7d; */
        }

        .ux_btn_search:hover{
          border: 0.5px solid rgb(186 186 186); 
          color: #3b5c7d;
        }

        .card-03{  
            max-width: 100%;
            flex:100%;
            margin: 5px;
            padding: 10px;
            height:180px;    
            text-align: center;
            background-color: #fff;
            border-radius: 15px;
            border: 0.5px solid rgb(186 186 186); 

        }
    } 


    .div_search_top{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px; 
      display: flex;   
    }

    #searchbar-market{
      width:100%;
      /* border-radius: 15px; */
      padding-left: 15px;
      border: 0.5px solid rgb(186 186 186); 

    }

    #searchbar-product{
      width:100%;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius:15px 15px; 
      padding-left: 15px;
      border: 0.5px solid rgb(186 186 186); 

    }
  
    #searchIcon_buyer{
      float: right;
      margin-left: 8px;
      margin-right: 0px;
      margin-top: 5px;
    }

    #searchIcon_buyer:hover{
      color: teal;
      margin-left: 8px;
      margin-right: 0px;

    }


    #result{  
      max-width: 100%;
      flex: 100%;
      margin: 5px;
      padding: 10px; 
      text-align: center; 
      border-radius: 15px; 
      margin-bottom: 20px;
  }


  #result-market{  
    max-width: 100%;
    flex: 100%;
    margin: 5px;
    padding: 10px; 
    text-align: center; 
    border-radius: 15px; 
    margin-bottom: 20px;
  }
 
  
  .myflex{  
    display: flex; 
    justify-content: center;
    flex-flow: wrap; 
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    padding: 0px;
}


.myitem{
    width:20%;
    height: auto;
    overflow: hidden;
    margin:20px;
    box-sizing: border-box;
    font-size:20px;
    margin: 5px;  
    padding: 10px; 
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    border: 0.5px solid rgb(186 186 186); 
}  



@media screen and (max-width:1200px){
    .myitem{
        width:40%;  
        height: auto;
        overflow: hidden;
        margin: 5px;  
        padding: 10px; 
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        border: 0.5px solid rgb(186 186 186); 
    }
}

@media screen and (max-width:600px){
    .myitem{ 
        width: 40%; 
        height: auto;
        overflow: hidden;
        margin: 5px;
        padding: 10px; 
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        border: 0.5px solid rgb(186 186 186); 
    }

     
}


/*--------------------------------------------------
          style for seller_view_market.php 
--------------------------------------------------*/

.market-details{
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.circle-add{
  font-size:14px;
  margin-right: 11px;  
}

.center-icon{
  display:flex;
  align-items:center;
}
  
.div_search_product{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px; 
  display: flex;   
}

#searchbar-product-seller{
  width:100%;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius:8px 8px; 
  padding-left: 15px;
  border: 0.5px solid rgb(186 186 186);  
}


.fa-search {
  margin-right:0px;
  border-top-left-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}

.div_seller_market{
  margin-top: 5px;
  display: grid;
  height: 190px;
  width: 100%;
  height: auto;
  overflow: hidden; 
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid rgb(186 186 186);
  padding-bottom: 15px;
  padding-top: 15px;
}

.dd{
  display: flex;
  width: 100%;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.div_alone_add_product{  
  height: 60px;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid rgb(186 186 186);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 5px; 
}

.div_product_tools{ 
  margin-bottom: 5px;
  font-size: 12px;
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: space-between; 
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.img_seller_view_market{
  width: 89px;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.5px solid rgb(186 186 186);
  padding: 6px; 
  margin-right: 4px;
}
 
.container-fluid-seller-view-market{
  margin-left: auto;
  margin-right: auto; 
  width: 95%;
}

#result {
  max-width: 100%;
  flex: 100%; 
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  padding:0px;
  margin:0px;
}


/*--------------------------------------------------
          style for 
--------------------------------------------------*/