    .sidebar{
      background-color: #EDF2F4;

    }
    

    img {
        height: 89px;
        width: 89px;
        border-radius: 50%;
        vertical-align: middle;
        border: 0.5px solid rgb(186 186 186);
        padding: 6px;
      }
      

    .div_search_top{
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px; 
      display: flex;   
    }

    #product-search{
      width:100%;
      padding-left: 15px;
      border: 0.5px solid rgb(186 186 186); 

    }
    
    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }



    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;

    }



